{{#each unitCategories as |category|}}
<label>
  <input type="radio" name="checkboxes" value="{{category.id}}" onclick={{action "activateUnit" value="target.value"}}>{{category.name}}<br>
</label>
{{/each}}<br>

<div class={{if isCm 'hidden'}}>
Active measurement units are ft
</div>

<div class={{if isFt 'hidden'}}>
Active measurement units are cm
</div>
