{{#each checkboxCategories as |category|}}
  <label>
    <input
      type="checkbox"
      name="categories"
      value={{category.id}}
      onclick={{action "updateCategories" value="target.value"}}
      checked={{array-contains categories category.id}}
      > {{category.name}}
  </label>
{{/each}}

{{#if selectedCategories}}
  <p>Selected categories are: {{selectedCategories}}</p>
{{/if}}
