<h3>Radio Inputs</h3>

{{#each units as |unit|}}
  <label>
    <input  type="radio"
            name="checkboxes"
            value="{{unit.id}}"
            onclick={{action "setActiveUnit" value="target.value"}}
            checked={{eq activeUnit unit.id}}>
            {{unit.name}}<br>
  </label>
{{/each}}<br>

{{!TODO: use get helper to get full name}}
{{#if activeUnit}}
  <p>Active measurement units are {{activeUnit}}</p>
{{/if}}
