<div class="posts">
    <h1 class="content-subhead">Text Input</h1>

    <section class="post">
        <header class="post-header">
            <h2 class="post-title">&lt;input type=&quot;text&quot;&gt;</h2>
        </header>

        <div class="pure-g post-description">
          <div class="pure-u-1 pure-u-md-1-3">
            {{! BEGIN-SNIPPET text-input}}
            <input type="text"
              value={{title}}
              oninput={{action (mut title) value="target.value"}}
            />
            {{! END-SNIPPET}}
            {{title}}
          </div>
          <div class="pure-u-1 pure-u-2-3">
            {{code-snippet name="text-input.hbs"}}
          </div>
        </div>
    </section>

    <section class="post">
        <header class="post-header">
            <h2 class="post-title">&lt;textarea&gt;</h2>
        </header>

        <div class="pure-g post-description">
          <div class="pure-u-1 pure-u-md-1-3">
            {{! BEGIN-SNIPPET textarea-input}}
            <textarea
              value={{content}}
              onkeyup={{action (mut content) value="target.value"}}
              onchange={{action (mut content) value="target.value"}}
            />
            {{! END-SNIPPET }}
            {{content}}
          </div>
          <div class="pure-u-1 pure-u-2-3">
            {{code-snippet name="textarea-input.hbs"}}
          </div>
        </div>
    </section>
</div>
